test/additional/forces.csv
train/additional/forces.csv
test/additional/stress_tensor_and_pressure.csv
train/additional/stress_tensor_and_pressure.csv
ngram/ngram_old1.py
ngram/ngram_old.py
ngram/__pycache__
ngram/unigram/*
ngram/bigram/*
ngram/trigram/*
ngram/cdf_matrix/*
ngram/ngram_matrix/*
ngram/ngram_data_handling_DEPRECATED
!ngram/unigram/KRR_CV_unigram.py
!ngram/unigram/KRR_CV_unigram.input
!ngram/unigram/KRR_CV_unigram.job
!ngram/bigram/KRR_CV_bigram.py
!ngram/bigram/KRR_CV_bigram.input
!ngram/bigram/KRR_CV_bigram.job
!ngram/trigram/KRR_CV_trigram.py
!ngram/trigram/KRR_CV_trigram.input
!ngram/trigram/KRR_CV_trigram.job
!ngram/ngram_matrix/ngram_matrix.py
!ngram/ngram_matrix/ngram_matrix.input.final
!ngram/ngram_matrix/ngram_matrix.input.start
!ngram/ngram_matrix/ngram_matrix.input.relaxation
!ngram/ngram_matrix/ngram_matrix.job.final
!ngram/ngram_matrix/ngram_matrix.job.start
!ngram/ngram_matrix/ngram_matrix.job.relaxation
